.login {
    display: flex;
}

.leftSide {
    flex: 1;
}

.rightSide {
    flex: 1;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}